# Node modules
node_modules/
notification_app_be/node_modules/
notification_app_fe/node_modules/

# Environment files
.env
.env.local
.env.development
.env.production
notification_app_be/.env
notification_app_fe/.env

# Build folders
dist/
build/
notification_app_fe/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

.vscode/


coverage/

# Temporary files
tmp/
temp/
