# Node modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.production

# Build folders
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# OS files
.DS_Store
Thumbs.db

.vscode/


coverage/

# Temporary files
tmp/
temp/



i have provided you the complete statement what of the project that i ave to do for the round 1, could u please read all the cocument clearly and deeply, i took fullstack development and i need you to provide what to do and how to do so could u please helo me ?

