PORT=4000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/notification_app
REDIS_URL=redis://localhost:6379
LOG_API_URL=http://20.244.56.144/evaluation-service/logs
LOG_BEARER_TOKEN=PASTE_YOUR_BEARER_TOKEN_HERE
